.movie-card {
  position: relative;
  margin-bottom: 1rem;
  padding: 1rem 1rem 1rem 12rem;
  min-height: 240px;
  background-color: #fff;
}
.movie-card__title {
  font-size: 1.5rem;
  color: #343a40;
}
.movie-card__synopsis {
  margin: 1rem 0;
  font-size: 1rem;
  color: #868e96;
}
.movie-card__uploade {
  margin: 1rem 0 0.2rem;
  text-align: right;
  font-size: 0.9rem;
  color: #adb5bd;
}
.movie-card__genres {
  text-align: right;
  font-size: 0.9rem;
  color: #adb5bd;
}
