// 공통만 변수로 선언하고, 개별적인 스타일은 해당 클래스에 직접 선언한다.
// 글꼴
$font-stack: (
    Helvetica,
    AppleSDGothicNeo,
    HelveticaNeue,
    sans-serif
);

// 굵기
$font-weight-light: 400;
$font-weight-regular: 400;
$font-weight-bold: 700;

// 크기
$font-size-small: 12px;
$font-size-normal: 16px;
$font-size-large: 24px;
$font-size-huge: 36px;
$font-size-giant: 44px;

// Brand(main) Colors
$darkish-pink: rgba(152, 36, 68, 1);
$pink:         rgba(220, 40, 95, 1);
$mint:         rgba(115, 201, 199, 1);
$purple:       rgba(93, 32, 200, 1);

// Greyscale Colors
$white:        rgba(255,255,255,1);
$iron:         #f5f5f5;
$regent-gray:  #aaa;
$light-gray:   #888;
$gray:         #666;
$darkish-gray: #444;
$dark-gray:    #222;
$gray-lv-0 :   #eee;
$gray-lv-1 :   #ddd;
$black:       rgba(0,0,0,1);

// Usage Color _ 실 사용 색상
$dimmed: rgba($black, 0.6);
$color-text: $gray;
$color-text-disabled: $iron;
$color-text-primary: $pink;
$color-text-active: $darkish-gray;
$color-text-link: $darkish-gray;
$color-text-link-visited: $color-text-primary;
$color-text-link-hover: $gray;

$bg-body: $iron;
$line: $gray-lv-1;

// resolutions
$mobile: 320px;
$tablet: 768px;
$screen: 1024px;
